.DS_Store
Energy-invest-RECUPERACAO-DIAGNOSTICO/.DS_Store
Energy-invest-RECUPERACAO-DIAGNOSTICO/.next/
Energy-invest-RECUPERACAO-DIAGNOSTICO/node_modules/
Energy-invest-RECUPERACAO-DIAGNOSTICO/*.tsbuildinfo
